li {
	list-style: none;
}

ul {
	padding-left: 0px;
}

.btn-hide {
	display: none;
	/*visibility: hidden;*/
}

.btn-show {
	display: inline;
	/*overflow-y: hidden;*/
}




/*icon overrides*/

.material-icons {
	font-size: 22px;
}


 /*bootstrap overides*/
