li {
	list-style: none;
}

ul {
	padding-left: 0px;
}

.btn-hide {
	display: none;
	/*visibility: hidden;*/
}

.btn-show {
	display: inline;
	/*overflow-y: hidden;*/
}



@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

.strike {
  position: relative;
  font-style: italic;
  color: #A7A7A7FF;
}

.strike::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: black;
  animation-name: strike;
  animation-duration: 0.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; 
}


/*icon overrides*/

.material-icons {
	font-size: 22px;
}


 /*bootstrap overides*/


