<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>DoGO</title>

	<link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
	<h2>hello {{name}}</h2>
	<div id="root"></div>
	
	<!-- Dependencies -->
	<script crossorigin src="/static/lib/react.development.js"></script>
	<script crossorigin src="/static/lib/react-dom.development.js"></script>
	<script src="/static/lib/socket.io.js"></script>

	<!-- Main -->
	<script src="/static/app.js"></script>
	<script src="http://localhost:35729/livereload.js"></script> 

</body>
</html>