<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>

	<style>

		body {
			padding: 0px;
		}

		.flex-container {
		  display: flex;
		  justify-content: center;
		  align-items: center;
		  height: 100vh;
		  background-color: DodgerBlue;
		}

		.box {
		  background-color: #f1f1f1;
		  color: white;
		  padding: 50px;
		}
		
	</style>
</head>
<body>
	<div class="flex-container">
	  <div class="box">
	  		<form method="post">
	            <input type=text name=username>
	            <input type=submit value=Login>
	        </form>
	  </div>
	</div>
</body>
</html>